# Ignore all files in the folder pre-processed-images
pre-processed_images/

# Ignore all files in the folder api-test-images
api-test_images/

__pycache__/

report/report.aux
report/report.fdb_latexmk
report/report.fls 
report/report.log